In [63]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.decomposition import PCA
import os
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [30]:
os.getcwd()
os.chdir('C:/Users/Alvin F/Downloads/Practical_sheet2_submission/Practical_sheet2_submission/source_code')
os.listdir()

['.ipynb_checkpoints',
 'Cleantext.py',
 'Comments.csv',
 'concat.csv',
 'concat1.csv',
 'count.csv',
 'Features.csv',
 'Joined.csv',
 'Joined_1.csv',
 'New_Datasets2.csv',
 'New__datasets.csv',
 'New__datasets2.csv',
 'part2_task1.py',
 'part2_task2.py',
 'part2_task3.py',
 'Pca.csv',
 'testing.csv',
 'Testing.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 '__pycache__']

In [38]:
new = pd.read_csv('Joined_1.csv')
datdrop = new.drop(['Unnamed: 0','Unnamed: 0.1' ,'Unnamed: 0.1.1','username', 'content', 'Label'], axis = 1)
datdrop.shape

(4000, 11)

In [39]:
np.set_printoptions(formatter={'float': '{: 0.2f}'.format})
dat_array = datdrop.to_numpy()
dat_array

array([[ 73.00,  13.00,  0.07, ...,  20.00,  60.30,  16.87],
       [ 50.00,  6.00,  0.07, ...,  14.00,  52.15,  14.68],
       [ 56.00,  6.00,  0.06, ...,  13.00,  54.85,  14.17],
       ...,
       [ 54.00,  5.00,  0.07, ...,  13.00,  41.85,  20.43],
       [ 65.00,  10.00,  0.06, ...,  21.00,  52.55,  15.75],
       [ 101.00,  10.00,  0.07, ...,  40.00,  52.15,  13.88]])

In [40]:
scaler = StandardScaler()
dat_standardized = scaler.fit_transform(dat_array)
dat_standardized.shape

(4000, 11)

In [41]:
COVMAT = np.cov(dat_standardized.T)
COVMAT.shape

(11, 11)

In [42]:
eigvals, eigvecs = np.linalg.eig(COVMAT)

In [43]:
eigvals.shape

(11,)

In [44]:
eigvecs.shape

(11, 11)

In [53]:
pd.options.display.width = 0
pca = PCA(n_components = 0.999)
# pca = PCA()
DATA_PCA = pca.fit_transform(dat_array)
DATA_PCA.shape

(4000, 7)

In [54]:
datfr = pd.DataFrame(DATA_PCA)
datfr

              0          1          2          3         4         5         6
0     -8.824505  13.777832  -3.431664  -6.787204 -0.230691 -3.684174  1.080832
1     -0.989631  41.347556   0.755896  -0.902103  0.938805 -0.047172 -1.442283
2    -18.067340  29.158514   2.200074   1.650324  4.346235 -0.335753 -0.674240
3     50.228008 -20.003467  -2.413044 -14.996930 -0.411881 -4.218805  1.036431
4     -3.029504  39.167658  -3.396533   0.786214  1.050515 -1.736533  2.268262
...         ...        ...        ...        ...       ...       ...       ...
3995 -36.097844  -0.969106  10.948048  -1.219743 -0.844900 -1.387801 -1.981613
3996  53.357681 -31.669109  -7.130660  -6.368608  6.862107 -3.631758 -2.198247
3997  65.482890  60.827881  -3.724646  -5.742892  2.107878  2.340505 -2.632582
3998  -2.432391  24.258583   1.679410  -7.175010 -2.571187 -0.136912 -0.698742
3999  17.874809 -13.574599   0.363085   5.018765 -8.786052  4.939226 -2.649038

[4000 rows x 7 columns]

In [62]:
X = new['Label']
Y = datfr

In [64]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

              0          1          2         3         4         5         6
367  -26.340083  12.361844   2.483909 -7.668903 -0.421449 -1.603189 -0.367328
3451  50.405692  10.216430 -12.882017  4.177242 -2.188174 -0.539605 -2.933466
3014 -43.474719  17.255913  -8.051311  7.032171 -6.725375  5.531377  5.815911
2833  37.891699 -49.990771  22.235808 -1.135816 -8.783035 -3.974890  2.468286
3125  -6.738348 -39.005439  -1.495188  3.685176  5.438950 -0.215926  2.493331
...         ...        ...        ...       ...       ...       ...       ...
1130 -14.362420  29.110948   1.829285 -0.691459  2.195181 -0.273789  2.494193
1294 -19.328596  20.877212   7.083514 -2.185448 -1.884750  4.114156 -0.544386
860   48.365521 -17.331326   3.628670 -2.694474  2.553295 -3.501914 -1.441176
3507  49.067545  56.701355 -12.596907  1.494535  6.425951 -0.594699 -0.348377
3174  94.669001 -15.980253  12.668177  5.404895 -7.060365  3.328266 -3.971378

[2680 rows x 7 columns]

In [33]:
# label = preprocessing.LabelEncoder()
# label.fit([])

In [29]:
# data = pd.read_csv('Joined.csv')
# enc = data['username']
# data['Label'] = label.transform(enc)
# data.to_csv('Joined_1.csv')

In [17]:
# abc = pd.read_csv('Features.csv').drop(['Unnamed: 0'], axis  = 1)
# abc

In [6]:
# new_dat = pd.read_csv('New__datasets.csv')
# datdrop = new_dat.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)

In [13]:
# datdrop
# datdrop.join(abc)
# joined  = new_dat.join(abc)